[Unit]
Description=Automounter for removable media
ConditionUser=!@system

[Service]
ExecStart=/usr/bin/udiskie
Type=simple

[Install]
WantedBy=graphical-session.target
