include doc/*.txt
include doc/asciidoc.conf
include doc/Makefile
graft completions
recursive-include icons *.svg
recursive-include lang *.pot *.po
recursive-include udiskie *.ui
include CONTRIBUTORS COPYING LICENSE
include README.rst CHANGES.rst
