name: Python Package
on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        python:
          - "3.11"
          - "3.12"
          - "3.13"

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python }}

      - name: Install build dependencies
        run: |
          sudo apt-get update && \
          sudo apt-get install -qy \
            gettext \
            libcairo2-dev \
            libgirepository1.0-dev \
            libgirepository-2.0-dev

      - run: pip install -U pip
      - run: pip install setuptools wheel

      - run: python setup.py sdist bdist_wheel
      - run: pip install dist/*.whl
      - run: pip install twine flake8

      - run: twine check dist/*
      - run: flake8
      - run: python test/test_match.py

      - uses: actions/upload-artifact@v4
        with: {name: dist, path: dist/}
        if: matrix.python == '3.12'

  deploy:
    name: Upload release
    runs-on: ubuntu-latest
    needs: build
    if: startsWith(github.ref, 'refs/tags/v') && success()
    environment:
      name: pypi
    permissions:
      id-token: write

    steps:
      - uses: actions/download-artifact@v5.0.0
        with: {name: dist, path: dist/}
      - uses: pypa/gh-action-pypi-publish@release/v1
      # with:
      #   repository-url: https://test.pypi.org/legacy/
